@model Dayboi_Web.ViewModels.BlogViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/Scripts/Client/blog_detail.js"></script>
    <script>
        $(document).ready(function () {
            var data = {};
            var apis = {};
            var options = {};
            data.Blog = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));

            data.API_URLs = apis;
            data.Options = options;

            ko.applyBindings(MainModel(data), document.getElementById("main-page"));
        });

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2&appId=279038256257090&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
}
<div id="main-page">
    <!-- HEADER TREE -->
    <section class="header-tree" data-speed="8" data-type="background">
        <h2 class="hidden">Header tree</h2>
        <!-- parallax background -->
        <div class="cover-1" data-type="sprite" data-offsetY="-700" data-Xposition="50%" data-speed="-2"></div>
        <!-- .container -->
        <div class="container">
            <!-- .row -->
            <div class="row">
                <!-- .col-md-12 -->
                <div class="col-md-12">
                    <ul class="breadcrumb clearfix mar-top-3x">
                        <li><a class="link text-success" href="/">Trang chủ</a></li>
                        <li><a class="link" href="@Url.Action("Index","Blog")">Tin tức</a></li>
                        <li><a class="link" href="#">@Model.Title</a></li>
                    </ul>
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- HEADER TREE END -->
    <!-- BLOG POST BODY SECTION -->
    <section class="pattern-3 no-padding-right" style="padding-top:0px;">
        <!-- .container -->
        <div class="container">
            <!-- .row -->
            <div class="row">
                <!-- .col-md-12 -->
                <div class="col-md-12">
                    <!-- All blog posts -->
                    <div class="mar-top-lg row">
                        <!-- Left part -->
                        <div class="col-md-8 blog-main">
                            <div class="post-detail sep-bottom-lg">
                                <figure class="no-margin">
                                    <img data-bind="attr:{src: Blog().Image}" alt="" class="img-responsive" />
                                </figure>
                                <div class="post-detail-body sep-xs">
                                    <h3 style="color: #40b7d2" data-bind="text: Blog().Title"></h3>
                                    <span class="line-sep-gray"></span>
                                    <div class="content" data-bind="html: showContent(Blog().Content)">

                                    </div>
                                    <div class="post-detail-bottom mar-top-sm">
                                        <p class="cat-links">
                                            <a class="text-capitalize"><i class="iline2-tag27 no-margin"></i></a>
                                            <a href="#">design</a>
                                            <a href="#">marketing</a>
                                            <a href="#">products</a>
                                        </p>
                                    </div>
                                    <ul class="post-info pull-left">
                                        <li><i class="iline2-round27 text-primary"></i> <a href="#">Tháng 10 17, 2018</a></li>
                                    </ul>
                                    <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5"></div>
                                    <span class="clearboth">
                                    </span>
                                    <div class="text-center share-menu">
                                        <ul class="social">
                                            <li><a target="_blank" title="" data-toggle="tooltip" data-placement="top" href="#" class="icon iline-iline-3google27" data-original-title="Share on Google Plus"></a></li>
                                            <li><a target="_blank" title="" data-toggle="tooltip" data-placement="top" href="#" class="icon iline-3facebook27" data-original-title="Share on Facebook"></a></li>
                                            <li><a target="_blank" title="" data-toggle="tooltip" data-placement="top" href="#" class="icon iline-3pinterest14" data-original-title="Share on Pinterest"></a></li>
                                            <li><a target="_blank" title="" data-toggle="tooltip" data-placement="top" href="#" class="icon iline-3twitter19" data-original-title="Share on Twitter"></a></li>
                                            <li><a target="_blank" title="" data-toggle="tooltip" data-placement="top" href="#" class="icon iline-3linked3" data-original-title="Share on Linkedin"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            @*<div class="nav-links mar-top-md">
                                    <a href="blog-post-gallery.html" class="text-uppercase pull-left"><i class="iline1-arrowhead2"></i>Bài trước</a>
                                    <a href="blog-post-carousel.html" class="text-uppercase pull-right">Bài tiếp <i class="iline1-chevron15"></i></a>
                                </div>*@
                        </div>
                        <!-- /Left part -->
                        <!-- Right part -->
                        <div class="col-md-4 blog-sidebar">
                            <!-- Categories List -->
                            <div class="post-detail">
                                <div class="post-detail-body sep-xs">
                                    <h3 class="text-primary text-uppercase text-center">Bộ sưu tập</h3>
                                    <ul class="text-capitalize sidebar">
                                        <li><a href="#" class="iline1-spiral4">Đồ bơi</a></li>
                                        <li><a href="#" class="iline1-spiral4">Dầu gội</a></li>
                                        <li><a href="#" class="iline1-spiral4">Mắt kính</a></li>
                                        <li><a href="#" class="iline1-spiral4">Khóa học người lớn</a></li>
                                        <li><a href="#" class="iline1-spiral4">Khăn tắm</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Categories List End -->
                            <!-- Popular Posts -->
                            <div class="post-detail mar-top-md">
                                <div class="post-detail-body sep-xs">
                                    <h3 class="text-primary text-uppercase text-center">Tin tức liên quan</h3>
                                    <ul class="text-capitalize sidebar">
                                        <li>
                                            <a href="#">
                                                <span class="post-img">
                                                    <img src="~/assets/images/blog/post-2.jpg" alt="" class="img-responsive" />
                                                </span>
                                                <h4 class="text-uppercase text-success">MARKETING #1</h4>
                                                <i class="text-muted small">34 Comments</i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="post-img">
                                                    <img src="~/assets/images/blog/post-3.jpg" alt="" class="img-responsive" />
                                                </span>
                                                <h4 class="text-uppercase text-primary">LOGO</h4>
                                                <i class="text-muted small">34 Comments</i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="post-img">
                                                    <img src="~/assets/images/blog/post-4.jpg" alt="" class="img-responsive" />
                                                </span>
                                                <h4 class="text-uppercase text-primary">MARKETING #2</h4>
                                                <i class="text-muted small">34 Comments</i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="post-img">
                                                    <img src="~/assets/images/blog/post-5.jpg" alt="" class="img-responsive" />
                                                </span>
                                                <h4 class="text-uppercase text-primary">PLACES</h4>
                                                <i class="text-muted small">34 Comments</i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Popular Posts End -->
                            <!-- Popular Posts -->
                            <div class="post-detail mar-top-md">
                                <div class="post-detail-body sep-xs">
                                    <h3 class="text-primary text-uppercase text-center">Sản phẩm</h3>
                                    <ul class="text-capitalize sidebar">
                                        <li>
                                            <a href="#">
                                                <span class="post-img">
                                                    <img src="~/assets/images/blog/post-2.jpg" alt="" class="img-responsive" />
                                                </span>
                                                <h4 class="text-uppercase text-success">MARKETING #1</h4>
                                                <i class="text-muted small">34 Comments</i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="post-img">
                                                    <img src="~/assets/images/blog/post-3.jpg" alt="" class="img-responsive" />
                                                </span>
                                                <h4 class="text-uppercase text-primary">LOGO</h4>
                                                <i class="text-muted small">34 Comments</i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="post-img">
                                                    <img src="~/assets/images/blog/post-4.jpg" alt="" class="img-responsive" />
                                                </span>
                                                <h4 class="text-uppercase text-primary">MARKETING #2</h4>
                                                <i class="text-muted small">34 Comments</i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="post-img">
                                                    <img src="~/assets/images/blog/post-5.jpg" alt="" class="img-responsive" />
                                                </span>
                                                <h4 class="text-uppercase text-primary">PLACES</h4>
                                                <i class="text-muted small">34 Comments</i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Popular Posts End -->

                        </div>
                        <!-- /Right part -->
                    </div>
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- BLOG POST BODY SECTION END -->
</div>
