@{
    ViewBag.Title = "Đặt hàng thành công";
}

<hgroup class="title" style="text-align:center;">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p style="text-align:center; font-style: italic; ">
        Xin cám ơn. Bạn đã đặt hàng thành công.
        </br>
         Vui lòng kiểm tra email để xem chi tiết đơn hàng.
        </br>
         Chúng tôi sẽ liên hệ lại bạn để xác nhận trong thời gian sớm nhất!
    </p>
</div>
