@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section headerStyles{
    <!-- Select2 -->
    <link rel="stylesheet" href="~/assets_admin/bower_components/select2/dist/css/select2.min.css">
}

@section footerJS{
    <!-- ckeditor -->
    <script src="~/assets_admin/bower_components/ckfinder/ckfinder.js"></script>
    <!-- Select2 -->
    <script src="~/assets_admin/bower_components/select2/dist/js/select2.full.min.js"></script>

    <script src="~/Scripts/Admin/product_create-edit.js"></script>
    <script>
        $(document).ready(function () {
          $('#treeShop').addClass("active");
            document.getElementById("treeShop4").classList.add("active");
            //Initialize Select2 Elements
            $('.select2').select2({
                tags: true,
                selectOnBlur: true,
                multiple: true
            });

            var data = {};
            var urls = {};
            var options = {};

            options.Categories = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Categories));

            urls.CreateProduct = "@Url.Action("CreateProduct", "Product")";
            urls.EditProductPage = "@Url.Action("Edit", "Product")";
            data.API_URLs = urls;
            data.Options = options;

            ko.applyBindings(MainModel(data), document.getElementById("main-page"));

        });
    </script>
}

<section class="content" id="main-page">
    <div class="row" data-bind="with: productModel">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Tạo Sản Phẩm</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tên sản phẩm</label>
                        <input type="email" class="form-control" placeholder="Tên sản phẩm" data-bind="value: Name, valueUpdate: 'keypress'">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tiêu đề SEO</label>
                        <input type="email" class="form-control" placeholder="Tiêu đề SEO" data-bind="value: Alias">
                    </div>

                    <!-- select -->
                    <div class="form-group">
                        <label>Danh mục</label>
                        <select class="form-control" data-bind="options: Categories,
                                                                    optionsText: 'Text',
                                                                    optionsValue: 'Value',
                                                                    value: CategoryId,
                                                                    optionsCaption: 'Chọn danh mục'"></select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Giá sản phẩm Giảm giá</label>
                        <input type="number" class="form-control" placeholder="Giá sản phẩm" data-bind="value: OtherPrice">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Giá sản phẩm Chính thức</label>
                        <input type="number" class="form-control" placeholder="Giá sản phẩm" data-bind="value: Price">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Hình ảnh</label>
                        <button type="button" class="btn btn-primary" data-bind="click: uploadImage">Tải ảnh</button>
                    </div>

                    <div class="form-group">
                        <ul class="list-group">
                            <!-- ko foreach: Images -->
                            <li class="list-group-item removeItem" style="display: inline-grid; border: 0px; padding: 1px 3px;">
                                <img style="height: 80px; cursor: pointer;" data-bind="attr : {src: $data}" />
                                <a class='delete' href="#" data-bind="click: $parent.removeImage" style="text-align: center;"><span class="glyphicon glyphicon-remove"></span></a>
                            </li>
                            <!-- /ko -->
                        </ul>
                        <p class="help-block">Nhiều ảnh cho sản phẩm</p>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Mô tả sản phẩm</label>
                        <textarea class="form-control" placeholder="Mô tả" data-bind="value: Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Meta Keyword</label>
                        <input type="text" class="form-control" placeholder="Meta Keyword" data-bind="value: MetaKeyword">
                    </div>

                    <div class="form-group">
                        <label>Tags</label>
                        <select id="productTag" data-bind="event: { change: changeTag }" class="form-control select2" multiple="multiple" data-placeholder="Tags"
                                style="width: 100%;"></select>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-bind="checked: IsActive"> Sản phẩm hot
                        </label>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="button" data-bind="click: create" class="btn btn-primary">Tạo sản phẩm</button>
                </div>
            </div>
            <!-- /.box -->

        </div>
        <!--/.col (left) -->

    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
