<appSettings>
  <!--<add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="20"/>
  <add key="MaxPage" value="5"/>-->

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="thiendandy@gmail.com"/>
  <add key="FromEmailPassword" value="Sonata204  "/>
  <add key="FromName" value="Triệu Xuân Thiện"/>
  <add key="AdminEmail" value="bccthien@gmail.com"/>
  <add key="CurrentLink" value="http://localhost:54248/"/>
  <add key="EnableBundles" value="false"/>
  <add key="SubjectCheckout" value="Chúc mừng bạn đã đặt hàng thành công"/>
  <!--Setting Ngan Luong payment-->


  <!--old webconfig-->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="RouteDebugger:Enabled" value="false" />
</appSettings>