@model Dayboi_Web.Areas.Admin.Models.EnrollmentCourseModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section headerStyles{
}

@section footerJS{
    <script src="~/assets/js/libs/moment.min.js"></script>
    <script src="~/Scripts/Admin/enrollmentcourse_detail.js"></script>
    <script>
        $(document).ready(function () {
            var data = {};
            var urls = {};
            var options = {};

            data.EnrollmentCourse = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
            data.EnrollmentCourseStatues = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.EnrollmentCourseStatues));
            data.Courses = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Courses));

            urls.Update = "@Url.Action("Update", "EnrollmentCourseAdmin")";

            data.API_URLs = urls;
            data.Options = options;

            ko.applyBindings(MainModel(data), document.getElementById("main-page"));
        });
    </script>
}

<section class="content" id="main-page">
    <div class="row" data-bind="with: enrollmentCourseModel">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Cập nhật Đăng ký khoá học</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Họ tên</label>
                        <input type="text" class="form-control" placeholder="Họ tên" data-bind="value: FullName">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Số điện thoại</label>
                        <input type="text" readonly class="form-control" placeholder="Số điện thoại" data-bind="value: Phone">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Khoá học</label>
                        <select class="form-control" data-bind="options: Courses,
                                                                    optionsText: 'Name',
                                                                    optionsValue: 'Id',
                                                                    value: CourseId"></select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Ghi chú</label>
                        <input type="text" class="form-control" placeholder="Ghi chú" data-bind="value: Note">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Ngày đăng ký</label>
                        <input type="text" class="form-control" readonly placeholder="Ngày đăng ký" data-bind="value: moment(CreatedOn())">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Trạng thái</label>
                        <select class="form-control" data-bind="options: EnrollmentCourseStatues,
                                                                    optionsText: 'Name',
                                                                    optionsValue: 'Id',
                                                                    value: EnrollmentCourseStatusId"></select>
                    </div>
                </div>


                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="button" data-bind="click: update" class="btn btn-primary">Cập nhập</button>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (left) -->
    </div>
    <!-- /.row -->
</section>



