
@{
    ViewBag.Title = "Chính sách bảo mật";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- HEADER TREE -->
<section class="header-tree" data-speed="8" data-type="background">
    <h2 class="hidden">Header tree</h2>
    <!-- parallax background -->
    <div class="cover-1" data-type="sprite" data-offsety="-700" data-xposition="50%" data-speed="-2"></div>
    <!-- .container -->
    <div class="container">
        <!-- .row -->
        <div class="row">
            <!-- .col-md-12 -->
            <div class="col-md-12">
                <ul class="breadcrumb clearfix mar-top-3x">
                    <li><a class="link text-success" href="/">Trang chủ</a></li>
                    <li><a class="link" href="#">@ViewBag.Title</a></li>

                </ul>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- HEADER TREE END -->

<section class="pattern-3" id="main-page">
    <!-- .container -->
    <div class="container" data-bind="with: productModel">
      <p>


      </p>

    </div>
</section>

