@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.ImageHeader = "";
    ViewBag.MapAddress = "";
}

<!-- HEADER TREE -->
<section class="header-tree" data-speed="8" data-type="background">
    <h2 class="hidden">Header tree</h2>
    <!-- parallax background -->
    <div class="cover-1" style="background-image: url(@ViewBag.ImageHeader);" data-type="sprite" data-offsety="-700" data-xposition="50%" data-speed="-2"></div>
    <!-- .container -->
    <div class="container">
        <!-- .row -->
        <div class="row">
            <!-- .col-md-12 -->
            <div class="col-md-12">
                <ul class="breadcrumb clearfix mar-top-3x">
                    <li><a class="link text-success" href="/">Trang chủ</a></li>
                    <li><a class="link" href="#">@ViewBag.Title</a></li>

                </ul>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- HEADER TREE END -->

<section class="pattern-3" id="main-page">
    <!-- .container -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">               
                    <div class="col-md-6">
                        @ViewBag.MapAddress
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1959.6067578197808!2d106.73505469344822!3d10.794952474975377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175260f70dc36df%3A0x516a9634170d565f!2zODMgxJDGsOG7nW5nIHPhu5EgMywgUC4gQsOsbmggQW4sIFF14bqtbiAyLCBI4buTIENow60gTWluaA!5e0!3m2!1svi!2s!4v1548605294816" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>

                    </div>
                    <div class="col-md-6">
                        <p style="font-weight: bold">
                            TRUNG TÂM DẠY BƠI TRẺ EM - KIDSWIM TẠI HCM
                            <br />
                            Địa chỉ: 83 đường số 3, phường Bình An, quận 2
                            <br />
                            Email: kidswim.club@gmail.com
                            <br/>
                            SĐT: 0899.49.2505
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>                 
</section>




