
@{
    ViewBag.Title = "Câu chuyện KidSwim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- HEADER TREE -->
<section class="header-tree" data-speed="8" data-type="background">
    <h2 class="hidden">Header tree</h2>
    <!-- parallax background -->
    <div class="cover-1" data-type="sprite" data-offsety="-700" data-xposition="50%" data-speed="-2"></div>
    <!-- .container -->
    <div class="container">
        <!-- .row -->
        <div class="row">
            <!-- .col-md-12 -->
            <div class="col-md-12">
                <ul class="breadcrumb clearfix mar-top-3x">
                    <li><a class="link text-success" href="/">Trang chủ</a></li>
                    <li><a class="link" href="#">@ViewBag.Title</a></li>

                </ul>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- HEADER TREE END -->

<section class="pattern-3" id="main-page">
    <!-- .container -->
    <div class="container" data-bind="with: productModel">
        5 cách bảo vệ da khi đi bơi với các sản phẩm tốt cho dân ghiền bơi lội
        </br>
        Không muốn trở nên “kém sang” vì làn da đen nhẻm, nàng hãy bỏ túi ngay 5 bí quyết bảo vệ da khi đi bơi dưới đây để không chỉ duyên dáng mà còn đẹp da nàng nhé.
        “Nhất dáng, nhì da”.
        </br>
        Nếu dáng gọn, eo thon cùng cơ thể dẻo dai, căng tràn sức sống luôn là niềm kiêu hãnh của những cô nàng ghiền bơi thì làn da khô ráp, sạm đen vì clo và nắng lại khiến không ít nàng lo lắng.
        Nguyên nhân là bởi độ PH cần thiết để duy trì sự tiệt khuẩn trong nước hồ bơi là khoảng 7,3 trong khi độ PH tự nhiên trển da chỉ là 5,5. Do đó, đắm mình trong nước hồ bơi quá lâu, làn da sẽ có tính kiềm, gây khô ráp, xỉn màu và dễ bị tổn thương trước tác động từ ánh nắng mặt trời. Đặc biệt với những cô nàng sở hữu làn da khô, nhạy cảm, sự cộng hưởng giữa nắng hè gay gắt và tác động từ clo sẽ càng mạnh hơn, thậm chí gây nám đen, tấy đỏ hay cháy nắng.
        Bởi vậy, để đạt được không chỉ vóc dáng mơ ước mà còn giữ được nét trắng hồng, tươi tắn trên da, nàng đừng bỏ qua 5 bí quyết bảo vệ da khi đi bơi siêu đơn giản dưới đây nhé.
        </br>
        1. Sử dụng kem chống nắng khi bơi ở hồ bơi ngoài trời
        </br>
        Những sản phẩm kem chống nắng không cồn, mỏng, nhẹ vẫn luôn là ưu tiên hàng đầu của không ít chị em, đặc biệt là trong những ngày hè nóng bức để tránh cảm giác nặng hay nhờn trên da. Tuy nhiên, với những cô nàng mê bơi, kem chống nắng chống nắng loại “nặng” mới là lựa chọn sáng suốt.
        Sở dĩ như vậy là bởi những loại kem chống nắng này cung cấp 1 lớp dầu bảo vệ giúp ngăn ngừa và hạn chế sự tiếp xúc trực tiếp từ clo lên da. Do đó, sẽ góp phần ngăn cản sự thẩm thấu và xâm nhập của clo lên da trong suốt quá trình bơi lội.
        Bởi vậy, một trong những cách bảo vệ da khi đi hồ bơi là sử dụng những loại kem chống nắng không thấm nước và có độ SPF trên 30.
        Một số dòng thương hiệu cao cấp cho dòng sản phẩm này là: It’s skin, L’ovité Waterproof Powder Suncreen hay Kustie Sunblock…..
        </br>
        2. Thoa tinh dầu dưỡng ẩm trên da khi bơi ở hồ bơi trong nhà
        </br>
        Khi bơi trong nhà hoặc bơi vào ban đêm, ít bị tác động bởi ánh nắng mặt trời, nàng mặc dù không cần sử dụng kem chống nắng nhưng cũng nên sử dụng 1 số tinh dầu dưỡng ẩm để giúp da không trở nên khô ráp dưới tác động từ clo.
        Một số tinh dầu với tác dụng dưỡng ẩm và bảo vệ da hiệu quả như: dầu dừa, dầu olive, dầu jojoba…..
        Kết hợp với các liệu pháp massage, những tinh dầu này sẽ tạo nên một lớp màng tự nhiên giúp bảo vệ làn da khi tắm hồ bơi hiệu quả.
        </br>
        3. Sử dụng các sản phẩm tắm-gội loại bỏ clo ra khỏi cơ thể ngay sau khi bơi
        </br>
        Vì clo bám rất dai trên cơ thể với khả năng xói mòn “lớp màng dưỡng ẩm” với độ thẩm thấu cao, gây phá vỡ các cấu trúc từ bên trong da và tóc cao. Bởi vậy khi bơi xong, nàng cần làm sạch ngay cơ thể bằng các sản phẩm tắm, gội loại bỏ clo chuyên dụng. Càng để lâu, lớp dầu dưỡng ẩm tự nhiên trên cơ thể càng bị rửa trôi, khiến làn da nhanh chóng mất đi độ tươi và sáng.
        Hiện nay trên thị trường, Triswim là dòng sản phẩm tắm gội khử clo chuyên dụng duy nhất tại Việt Nam. Là sản phẩm tích hợp giữa công thức trung hòa clo và tinh dầu thiên nhiên giúp dưỡng ẩm cũng như làm dịu da nhanh chóng, thương hiệu cao cấp từ Hoa Kỳ này chắc chắn sẽ là lựa chọn hoàn hảo giúp nàng bảo vệ da và tóc hiệu quả khi đi bơi.
        </br>
        4. Khôi phục độ PH trên da bằng toner không chưa cồn
        </br>
        Dùng toner không chứa cồn để khôi phục độ PH cũng là mẹo bảo vệ da mặt khi đi bơi trong mùa hè này. Sau khi bơi, dùng toner khi da còn ướt sẽ khóa lại độ ẩm và dưỡng chất cần thiết trên da đồng thời giúp thỏa mãn “cơn khát” của những tế bào da đang “mỏi mệt”.
        Một số gợi ý nàng có thể tham khảo như: Simple Soothing Facial Toner, The Body Shop Seaweed Clarifying Toner, Thayer Toner Lavender Witch Hazel with Alo Vera……
        5. Sử dụng mặt nạ dưỡng da sau bơi
        Các yêu tố như nước hồ bơi, ánh nắng, nhiệt độ đều là nguyên nhân làm mất cân bằng độ ẩm trên da. Bởi vậy, sau mỗi lần bơi, đây sẽ là thời điểm thích hợp để khôi phục độ ẩm cho da bằng các loại mặt nạ chăm dưỡng.
        Nếu sở hữu làn da dầu, da hỗn hợp hay da dễ mụn, nàng nên sử dụng những gel dưỡng ẩm không chứa dầu, gốc nước như: Simple Kind To Skin Hydrating Light Moisturiser, Bio Calm Repair Masque, Simple Kind….
        Với làn da khô, ít dầu, những sản phẩm dưỡng ẩm cream-base như Triswim Lotion, Herbal Luxury Face Cream Mocha, Avène Hydrance Optimale Rich Cream, Water Bank Gel Cream- Laneige sẽ là lựa chọn chăm dưỡng và bảo vệ da khi đi bơi tốt nhất
        Hè đến rồi, đừng đề nắng hè và nước clo khiến làn da trở nên đen sạm.
        Hãy lựa chọn cho mình bí quyết bảo vệ da phù hợp để an tâm tận hưởng nắng hè nàng nhé.


    </div>
    <!-- /.container -->
    <!-- /Product item -->
</section>


