  <!-- BEGIN FOOTER -->
<footer class="page-footer">
    <!-- FOOTER CONTENT -->
    <section class="blue cut-ccw02">
        <div class="container">
            <!-- .row -->
            <div class="row">
                <!-- .col-md-12 -->
                <div class="col-md-12">
                    <!-- .row -->
                    <div class="row">
                        <aside class="col-md-4 col-sm-6 col-xs-12 text-left">
                            <h1>DẠY BƠI TRẺ EM</h1>
                            <span class="line-sep-gray"></span>
                            <p>
                                Cung cấp các khóa học bơi
                                chuyên sâu dành cho trẻ em
                                mọi lứa tuổi.
                                <br />
                                HỌC ĐÚNG-BƠI KHỎE-KỸ NĂNG TỐT
                            </p>
                            <p>0969.79.2505 - 0899.49.2505</p>
                            <p>Email: </p>
                            <a href="mailto:#" target="_blank">cskh@kidswim.club</a><br />
                            <a href="mailto:#" target="_blank">kidswim.club@gmail.com</a><br />

                        </aside>
                        <aside class="col-md-4 col-sm-6 col-xs-12 text-left">
                            <!-- Copyright Informations -->
                            <h1>LIÊN KẾT NHANH</h1>
                            <span class="line-sep-gray"></span>
                            <p>
                                Sản phẩm

                            </p>
                            <p>
                                Khóa học
                            </p>
                            <p>
                                Tin tức
                            </p>
                            <p>
                                Liên hệ
                            </p>
                            <p>
                                Hãy đăng ký email của bạn
                                để cập nhật thông tin.
                            </p>
                          
                                <form action="#" id="mailchimp-form" method="post" class="subscription" data-url="http://appdevfolio.us10.list-manage.com/subscribe/post?u=a024d704e715c033b405711a3&amp;id=de4c3fd5b0">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="email" class="form-control input-lg" placeholder="Your Email " id="mailchimp-email" name="EMAIL">
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn   btn-lg">
                                                    <i class="iline2-paper41"></i> Gửi
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <label for="mailchimp-email" class="text-danger text-center mailchimp-label"></label>
                                </form>
                            
                        </aside>
                        <aside class="col-md-4 col-sm-6 col-xs-12">
                            <h1>VỀ KIDSWIM</h1>
                            <span class="line-sep-gray"></span>
                            <!-- address -->
                            <p>
                                Về KidSwim
                            </p>
                            <p>
                                Câu Chuyện KidSwim
                            </p>
                            <p>
                                Tầm Nhìn kidSwim
                            </p>
                            <p>
                                Triết Lý Kinh Doanh
                            </p>
                            <p>
                                Giá Trị Đóng Góp Xã Hội
                            </p>
                            <!-- /address -->
                        </aside>
                    </div>

                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-12 text-center mar-top-sm">
                            <!-- .social -->
                            <ul class="social">
                                <li><a href="#" class="icon-xl iline3-be"></a></li>
                                <li><a href="#" class="icon-xl iline3-facebook27"></a></li>
                                <li><a href="#" class="icon-xl iline3-instagram4"></a></li>
                                <li><a href="#" class="icon-xl iline3-twitter19"></a></li>
                                <li><a href="#" class="icon-xl iline3-vimeo11"></a></li>
                            </ul>
                            <!-- /.social -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        </section>
        <!-- /.container -->
        <!-- FOOTER CONTENT -->
</footer>
<!-- FOOTER END -->
