  <!-- NAVIGATION START -->
<header class="fallone-navbar" data-id="default-navbar">
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="~/assets/images/logo.png" alt="Fallone logo" class="img-responsive" />
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="products.html">Products</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Blog <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="blog-standard-rsidebar.html">
                                    Standard Right Sidebar
                                </a>
                            </li>
                            <li>
                                <a href="blog-standard-lsidebar.html">
                                    Standard Left Sidebar
                                </a>
                            </li>
                            <li>
                                <a href="blog-standard.html">
                                    Standard Full
                                </a>
                            </li>
                            <li>
                                <a href="blog.html">
                                    Masonry
                                </a>
                            </li>
                            <li>
                                <a href="blog-post.html">
                                    Post With Image
                                </a>
                            </li>
                            <li>
                                <a href="blog-post-gallery.html">
                                    Post With Gallery
                                </a>
                            </li>
                            <li>
                                <a href="blog-post-carousel.html">
                                    Post With Carousel
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="team.html">Our team</a></li>
                    <li>
                        <a href="features.html">
                            Features
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="pricing-tables.html">Pricing Tables</a></li>
                            <li><a class="text-primary" href="login.html">Login</a></li>
                            <li><a class="text-success" href="sign-up.html">Sign Up</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="terms.html">Terms</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="icons.html">Icons</a></li>
                            <li><a href="typography.html">Typography</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header>
<!-- NAVIGATION END -->
