<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Khôi phục mật khẩu từ KidSwim</title>
</head>

<body>
    <div style="width:722px; border:solid 1px #CCC; font-family:Arial, Helvetica, sans-serif; padding:10px; margin:10px auto; line-height:130%; font-size:14px; color: #333;">
        <div>
            <table border="0" cellspacing="0" cellpadding="0" style="margin-top: 10px;">
                <tr>
                    <td style="font-style:italic; font-size: 15px; color: red;">Lưu ý: Đây là email tự động, xin vui lòng không trả lời email này.</td>
                </tr>
            </table>
        </div>
        <div style="background-repeat:no-repeat; padding-top:20px;">
            <p>Bạn đã yêu cầu khôi phục mật khẩu:</p>

            <div style="border-bottom: dashed 1px #CCC;line-height:20px; padding-bottom:10px;">
                <a href="{{callbackUrl}}" style="color:#0d7caa; font-weight:bold;text-decoration:underline;"> Bấm vào đây tiến hành khôi phục mật khẩu</a> <br />

            </div>
            <p>Nếu bạn không thực hiện điều này, vui lòng liên hệ ngay lập tức với chúng tôi.</p>
            <div style="  border-bottom: dashed 1px #CCC; padding-bottom:10px;"></div>
        </div>
        <div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="55%">
                        <div align="center" style=" margin-top:5px;">
                            <div style="text-transform:uppercase; font-size:12px; color:#0d7caa; font-weight:bold; margin-bottom:5px;">KidSwim</div>
                            <div style="background-color:#cfe5ee; line-height:25px; width:290px;"><a style="text-decoration:none; color:#000;" target="_blank" href="KidSwim.club">KidSwim.club</a></div>
                        </div>
                    </td>
                    <td width="-1%"><img src="?{host}/resources/images/thongtin-donhang_14.jpg" width="1" height="69" /></td>
                    <td width="44%">
                        <table width="80%" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto; font-size: 12px">
                            <tr>
                                <td>Theo dõi KidSwim tại:</td>
                                <td width="15%"><a href="?{facebookUrl}" target="_blank"><img src="?{host}/resources/images/thongtin-donhang_17.jpg" width="41" height="38" /></a></td>
                                <td width="15%"><a href="?{googlePlusUrl}" target="_blank"><img src="?{host}/resources/images/thongtin-donhang_18.jpg" width="40" height="38" /></a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>