@{
    ViewBag.Title = "Xác nhận quên mật khẩu";
}

<hgroup class="title" style="text-align:center;">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p style="text-align:center;">
        Email khôi phục mật khẩu đã được gửi. Vui lòng kiểm tra email của bạn!
    </p>
</div>

