@{
    ViewBag.Title = "Khôi phục mật khẩu thành công";
}

<hgroup class="title" style="text-align:center;">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p style="text-align:center;">
       Khôi phục mật khẩu thành công. Vui lòng @Html.ActionLink("bấm vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
