@model IEnumerable<Dayboi_Web.Areas.Admin.Models.PoolModel>

@{
    ViewBag.Title = "Danh sách Hồ bơi - KidSwim";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section footerJS{
    <script src="~/Scripts/Admin/pool_index.js"></script>
    <script>
        $(document).ready(function () {
         $('#treePool').addClass("active");
            document.getElementById("treePool2").classList.add("active");
            var data = {};
            var options = {};
            data.Pools = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));

            options.EditPoolUrl = '@Url.Action("Edit", "PoolAdmin")';
            data.API_URLs = options;

            ko.applyBindings(MainModel(data), document.getElementById("main-page"));
        });
    </script>
}
<section class="content" id="main-page">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Danh sách Hồ bơi</h3>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>Tên</th>
                            <th>Loại</th>
                            <th>Địa chỉ</th>
                            <th>Trạng thái</th>
                            <th></th>
                        </tr>
                        <!-- ko foreach: Pools -->
                        <tr>
                            <td data-bind="text: Id"></td>
                            <td data-bind="text: Name"></td>
                            <td data-bind="text: PoolCategoryName"></td>
                            <td data-bind="text: Address"></td>
                            <td data-bind="text: IsActive"></td>
                            <td>
                                <a class="label label-warning" data-bind="attr: {href: EditPoolUrl() +'/' + Id}">Sửa</a>
                            </td>

                        </tr>
                        <!-- /ko -->

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>